@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* react-toastify */
  --toastify-toast-top: 60px;
  --toastify-toast-right: 40px;
  --toastify-toast-width: 300px;
  --toastify-toast-min-height: 54px;
}

/* react-toastify */
.Toastify__close-button {
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}
.toast-wide {
  --toastify-toast-width: 325px;
}
.Toastify__toast {
  border-radius: 6px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
